common/Sublime Text/Package Control.last-run
common/Sublime Text/Side Bar.sublime-settings
common/Sublime Text/Package Control.cache
common/Sublime Text/Package Control.system-ca-bundle
common/Sublime Text/bh_unicode_properties.cache
