scripts/*
sublimetext/Package Control.last-run
sublimetext/Side Bar.sublime-settings
sublimetext/Package Control.cache
sublimetext/Package Control.system-ca-bundle
sublimetext/Package Control.user-ca-bundle
sublimetext/Package Control.merged-ca-bundle
sublimetext/bh_unicode_properties.cache
sublimetext/Color Highlighter
sublimetext/*.tmTheme
